.hexagon {
  position: relative;
  margin: 60px auto;
  width: 152px;
  height: 88px;
  background-position: center center;
  z-index: 1;
  /* Text styling */
  line-height: 110px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease; }
d
.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden; }

.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 176px;
  height: 176px;
  background: inherit; }

.hexagon .face1 {
  transform: rotate(60deg); }

.hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-88px, 0); }

.hexagon .face2 {
  transform: rotate(-60deg); }

.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(88px, 0); }

::-moz-selection {
  background-color: #49d3ca;
  color: white; }

::selection {
  background-color: #49d3ca;
  color: white; }

::-webkit-scrollbar {
  display: none; }

html {
  font-size: 18px; }

body {
  display: flex;
  justify-content: center;
  background: url(../images/Wiki-background3.jpeg); }
  body #bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 45rem;
    padding: 1rem; }

.personal_words {
  font-family: "Open Sans", sans-serif;
  font-style: italic; }

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: .75rem; }
  header #name {
    white-space: nowrap;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    color: white; }
  header #tagLine {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: "Sanchez", serif; }
  header #nameLine {
    width: 60%;
    color: #49d3ca;
    border-color: #49d3ca; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 38.6rem;
  max-height: 1rem;
  margin-bottom: 1rem; }
  @media (max-width: 400px) {
    nav {
      flex-direction: column;
      align-items: center;
      max-height: none; }
      nav .spacer {
        color: white; } }
  nav .navButtonWrapper {
    display: flex;
    justify-content: center;
    flex: 0 0 15%;
    cursor: pointer; }
    @media (max-width: 400px) {
      nav .navButtonWrapper {
        width: 35%;
        justify-content: flex-start; } }
    nav .navButtonWrapper .navButton {
      display: flex;
      flex: 1 0 0;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 1.3rem;
      font-family: "Oswald", sans-serif;
      color: #fb8821;
      transition: color, background .15s ease; }
    nav .navButtonWrapper .active {
      color: white;
      background: #fb8821;
      border-radius: .2rem;
      transition: color, background .15s ease; }

#proPicWrapper {
  float: left;
  background-color: white;
  border: 1px solid gray;
  padding: 2px;
  margin-right: 1rem; }
  @media (max-width: 500px) {
    #proPicWrapper {
      float: none;
      margin: 0; } }
  #proPicWrapper img {
    width: 12rem;
    height: 12rem;
    display: block; }

main {
  display: flex;
  justify-content: center;
  width: 100%; }
  main section {
    margin: .5rem;
    padding: .5rem;
    color: white;
    font-size: 1.6rem; }

.v_space {
  height: 3rem; }

#blog {
  display: flex;
  justify-content: center;
  flex: 0 0 100%; }

#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  #projects .proj_construc_wrap {
    position: relative;
    flex: 0 0 18rem; }
    #projects .proj_construc_wrap a {
      opacity: .4; }
    #projects .proj_construc_wrap .hexagon {
      cursor: default; }
  #projects .construction_image {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 2;
    height: 5rem;
    width: 8.085rem;
    box-shadow: 0 0 9px 0 black;
    transform: rotate(-6deg); }
  #projects .project {
    display: flex;
    flex: 0 0 18rem;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin: .5rem .1rem .5rem .1rem; }
    #projects .project span {
      display: flex;
      justify-content: flex-end;
      font-family: "Oswald", sans-serif;
      font-size: 2rem;
      margin-bottom: -.2rem;
      min-height: 3rem; }
    #projects .project .hex_wrap {
      margin-left: .3rem;
      min-width: 8.33rem; }
    #projects .project .proj_bg {
      display: flex;
      align-items: center;
      height: 6.5rem; }
    #projects .project .proj_desc {
      height: 5.5rem;
      font-family: "Sanchez", serif;
      font-size: .75rem;
      padding-left: .5rem; }
      #projects .project .proj_desc ul {
        padding-left: 1rem; }

#eye_context .proj_bg {
  background-color: #fb8821; }
  #eye_context .proj_bg .hexagon {
    background-image: url("../images/projects/eyecon.png"); }

#text_cleanser .proj_bg {
  background-color: #315479; }
  #text_cleanser .proj_bg .hexagon {
    background-image: url("../images/projects/filter.png"); }

#groovy_alg .proj_bg {
  background-color: #46a4c7; }
  #groovy_alg .proj_bg .hexagon {
    background-image: url("../images/projects/groovy_alg.png"); }

#mat_track .proj_bg {
  background-color: firebrick; }
  #mat_track .proj_bg .hexagon {
    background-image: url("../images/projects/mat_track.png"); }

#renown .proj_bg {
  background-color: #8186db; }
  #renown .proj_bg .hexagon {
    background-image: url("../images/projects/renown.png"); }

#greenhouse #greenhouse_name {
  font-size: 1.8rem; }
#greenhouse .proj_bg {
  background-color: #7ddb85; }
  #greenhouse .proj_bg .hexagon {
    background-image: url("../images/projects/photon_dist.png"); }

#resume {
  display: flex;
  flex-direction: column; }
  @media (max-width: 500px) {
    #resume {
      align-items: center; } }
  #resume .heading1 {
    display: flex;
    flex-direction: row;
    font-family: "Oswald", sans-serif;
    margin-bottom: .5rem; }
    #resume .heading1 span {
      margin-right: .5rem; }
  #resume img {
    width: 6rem;
    height: 6rem;
    padding-right: .75rem; }
    @media (max-width: 500px) {
      #resume img {
        padding-right: 0; } }
  #resume .hrWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%; }
    #resume .hrWrap hr {
      color: #49d3ca;
      border-color: #49d3ca;
      width: 100%; }
  #resume .experience {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;
    margin-top: .75rem;
    font-family: "Oswald", sans-serif; }
    @media (max-width: 500px) {
      #resume .experience {
        flex-direction: column;
        text-align: center; } }
    #resume .experience .exp_text {
      display: flex;
      flex-direction: column; }
      #resume .experience .exp_text .exp_name {
        font-size: 1.8rem; }
      #resume .experience .exp_text .exp_desc {
        font-family: "Sanchez", serif;
        font-size: 1.4rem; }
      #resume .experience .exp_text .dates {
        font-family: "Sanchez", serif;
        font-style: italic;
        font-size: 1rem; }
  #resume #UPE {
    padding-left: 1.38rem;
    padding-right: 1.38rem;
    width: 3.24rem;
    height: 6rem; }

@media (max-width: 500px) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }
#about .footnote {
  font-size: 1rem; }
#about .asterisk {
  color: #49d3ca; }

#contact {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  font-family: "Sanchez", serif; }
  @media (max-width: 500px) {
    #contact {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center; } }
  #contact #contact_info {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem; }
    #contact #contact_info a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: white; }
      #contact #contact_info a #send_me {
        color: #49d3ca;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        border: 1px solid white;
        background-color: white;
        border-radius: 1rem;
        padding: .4rem;
        transition: color, background-color, border-color, .15s ease; }
      #contact #contact_info a #send_me:hover {
        color: white;
        background-color: #fb8821;
        border-color: #fb8821; }
    #contact #contact_info .form_of_contact {
      display: inline-block;
      font-family: "Oswald", sans-serif;
      min-width: 5.5rem;
      font-size: 1.8rem; }
    #contact #contact_info .textarea {
      resize: vertical;
      word-wrap: normal; }
  #contact #white_hr_wrap {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    #contact #white_hr_wrap hr {
      width: 100%;
      color: #fb8821;
      border-color: #fb8821; }
  #contact #logos {
    display: flex;
    flex: 0 1 5rem;
    flex-direction: column; }
    @media (max-width: 500px) {
      #contact #logos {
        flex-shrink: 0;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; } }
    #contact #logos img {
      margin: .3rem;
      width: 4rem;
      height: 4rem; }
    #contact #logos #linkedin {
      width: 4.436rem; }

/*# sourceMappingURL=main_style.css.map */
