@import assist.sections.ViewAccessPoint.Implicits._
@import play.api.Play.current

<section id="contact" class="@classPicker.getSectionClass("contact")">
	<div id="contact_info">
		<span><span class="form_of_contact">Web:</span>ryanstull.com</span>
		<span><span class="form_of_contact">Email:</span>rstull1250@@gmail.com</span>
		@*<div id="white_hr_wrap"><hr/></div>*@
		<div class="v_space"></div>
		<a href="mailto:rstull1250@@gmail.com"><div class="personal_words" id="send_me">Send me an email!</div></a>
	</div>
	<div id="logos">
		<a href="http://github.com/ryanstull"><img src="@routes.Assets.at("images/contact/GitHub-Mark-Light-120px-plus.png")" alt="" /></a>
		<a href="http://linkedin.com/in/rstull"><img src="@routes.Assets.at("images/contact/In-White-128px-R.png")" alt="" /></a>
		<a href="http://twitter.com/ryan_t_stull"><img src="@routes.Assets.at("images/contact/TwitterLogo_white2.png")" alt="" /></a>
	</div>
</section>