@import assist.sections.ViewAccessPoint.Implicits._
@import play.api.Play.current
@import resumeUtils._

<section id="resume" class="@classPicker.getSectionClass("resume")">

	<div class="heading1">
		<span>HONORS</span>
	</div>

	@experience("Upsilon Pi Epsilon"
		,"International Honor Society for the Computing and Information Disciplines"
		,"Inducted March 2014"
		,"Upsilon Pi Epsilon Medallion"
		,"images/resume/UPE.png")

	<div class="v_space"></div>

	<div class="heading1">
		<span>EDUCATION</span>
	</div>

	@experience("Saint Joseph's University"
		,"BS in Computer Science & Physics"
		,"08/11 - 05/15"
		,"SJU"
		,"images/resume/sju_red.png"
	)

	<div class="v_space"></div>

	<div class="heading1">EXPERIENCE</div>

	@experience("Bottom Technologies"
		,"Software Implementation Engineer"
		,"08/15 - "
		,"Bottomline Technologies"
		,"images/resume/bottomline.jpeg"
	)

	@experience("EvoXLabs"
		,"Volunteer"
		,"04/15"
		,"EvoX Labs"
		,"images/resume/evoxlabs_logo.png"
	)

	@experience("Exelis Inc."
		,"IT Intern"
		,"06/14 - 08/14"
		,"Exelis"
		,"images/resume/exelis_logo.gif"
	)

	@experience("Saint Joseph's University"
		,"Physics Tutor"
		,"01/14 - 05/16"
		,"SJU"
		,"images/resume/sju_red.png"
	)

	@experience("Dassault Falcon Jet"
		,"IT Intern"
		,"06/13 - 08/13"
		,"Falcon Jet"
		,"images/resume/falcon_jet_logo.jpg"
	)

	@experience("Saint Joseph's University"
		,"Student Researcher (Physics)"
		,"06/12 - 05/16"
		,"SJU"
		,"images/resume/sju_red.png"
	)

	@experience("Cranford High School"
		,"Webmaster"
		,"09/10 - 06/11"
		,"Cranford High"
		,"images/resume/cranford.png"
	)

</section>