@import assist.sections.ViewAccessPoint.Implicits._
@import play.api.Play.current

<section id="resume" class="@classPicker.getSectionClass("resume")">

	<div class="heading1">EXPERIENCE</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/bottomline.jpeg")" alt="Bottomline Technologies"/>
		<div class="exp_text">
			<span class="exp_name">Bottom Technologies</span>
			<span class="exp_desc">Software Implementation Engineer</span>
			<span class="dates">08/15 - </span>
		</div>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/evoxlabs_logo.png")" alt="Evox Labs"/>
		<div class="exp_text">
			<span class="exp_name">EvoXLabs</span>
			<span class="exp_desc">Volunteer</span>
			<span class="dates">04/15</span>
		</div>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/exelis_logo.gif")" alt="Exelis"/>
		<div class="exp_text">
			<span class="exp_name">Exelis Inc.</span>
			<span class="exp_desc">IT Intern</span>
			<span class="dates">06/14 - 08/14</span>
		</div>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/falcon_jet_logo.jpg")" alt="Falcon Jet"/>
		<div class="exp_text">
			<span class="exp_name">Dassault Falcon Jet</span>
			<span class="exp_desc">IT Intern</span>
			<span class="dates">06/13 - 08/13</span>
		</div>
	</div>

	<div class="v_space"></div>

	<div class="heading1">
		<span>CERTIFICATES</span>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/coursera-fb.png")" id="coursera" alt="Coursera"/>
		<div class="exp_text">
			<span class="exp_name">Functional Programming in Scala Specialization</span>
			<span class="certificates"><a href="https://www.coursera.org/account/accomplishments/certificate/EJM88J5AAY36?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bw5W%2F0FJNQNOlGzFZzQ4zpA%3D%3D">
				Functional Programming Principles in Scala
			</a></span>
			<span class="certificates"><a href="https://www.coursera.org/account/accomplishments/certificate/F3ERL2Z9SWJQ?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bw5W%2F0FJNQNOlGzFZzQ4zpA%3D%3D" >
				Functional Program Design in Scala
			</a></span>
			<span class="certificates"><a href="https://www.coursera.org/account/accomplishments/certificate/KQKSAAFERPMJ?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bw5W%2F0FJNQNOlGzFZzQ4zpA%3D%3D">
				Parallel Programming
			</a></span>
			<span class="certificates"><a href="https://www.coursera.org/account/accomplishments/certificate/KQKSAAFERPMJ?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bw5W%2F0FJNQNOlGzFZzQ4zpA%3D%3D">
				Big Data Analysis with Scala and Spark
			</a></span>
		</div>
	</div>

	<div class="v_space"></div>

	<div class="heading1">
		<span>HONORS</span>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/UPE.png")" id="UPE" alt="Upsilon Pi Epsilon Medallion"/>
		<div class="exp_text">
			<span class="exp_name">Upsilon Pi Epsilon</span>
			<span class="exp_desc">International Honor Society for the Computing
				and Information Disciplines</span>
			<span class="dates">Inducted March 2014</span>
		</div>
	</div>

	<div class="v_space"></div>

	<div class="heading1">
		<span>EDUCATION</span>
	</div>

	<div class="experience">
		<img src="@routes.Assets.at("images/resume/sju_red.png")" alt="SJU"/>
		<div class="exp_text">
			<span class="exp_name">Saint Joseph's University</span>
			<span class="exp_desc">BS in Computer Science & Physics</span>
			<span class="dates">08/11 - 05/15</span>
		</div>
	</div>

	<div class="v_space"></div>

	<a href="@routes.Assets.at("Ryan%20Stull%20-%20Resume.pdf")" class="pdf_resume">
		<div class="experience">
			<img src="@routes.Assets.at("images/resume/resume_icon.png")" alt="PDF Resume"/>
			<div class="exp_text">
				<span class="exp_name">PDF Resume</span>
			</div>
		</div>
	</a>

</section>