@import assist.sections.ViewAccessPoint.Implicits._
@import play.api.Play.current

@main_template("Ryan Stull") {

	<div id="bodyWrapper">
		<header>
			<span id="name">Ryan Stull</span>
			<hr id="nameLine"/>
			<span id="tagLine">Aspiring Software Developer.
				Graduate of Saint Joseph's University</span>
		</header>
		<nav>
			<div class="navButtonWrapper"><a class="@{"navButton " + classPicker.getNavClass("blog")}">Blog</a></div><span class="spacer">|</span>
			<div class="navButtonWrapper"><a class="@{"navButton " + classPicker.getNavClass("projects")}">Projects</a></div><span class="spacer">|</span>
			<div class="navButtonWrapper"><a class="@{"navButton " + classPicker.getNavClass("resume")}">Resume</a></div><span class="spacer">|</span>
			<div class="navButtonWrapper"><a class="@{"navButton " + classPicker.getNavClass("about")}">About</a></div><span class="spacer">|</span>
			<div class="navButtonWrapper"><a class="@{"navButton " + classPicker.getNavClass("contact")}">Contact</a></div>
		</nav>
		<main>
			@sections.blog()
			@sections.projects()
			@sections.resume()
			@sections.about()
			@sections.contact()
		</main>
	</div>
}

